/*************************
*******All Staff CSS******
**************************/
.main_content {
    margin-left: 200px;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: currentColor;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.form_control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn_danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn_danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.btn_primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn_primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.form_group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (prefers-reduced-motion: reduce) {
    .form_control {
        transition: none;
    }
}

@media (min-width: 1200px) {

    .h1,
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

/*************************
*******Product, Hidden,SoldOutProduct CSS******
**************************/
.main_content {
    /* margin-left: 200px; */
    margin: 0 auto;
    width: 80%;
}

.dropdown,
.dropend,
.dropstart,
.dropup {
    position: relative;
}

#search_form {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#suggestions {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.col-sm-8 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: currentColor;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.tbody_td,
.tbody_th {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.display {
    display: flex;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.active {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.btn {
    display: inline-block;
    height: 33px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin-left: 3px;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn_danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn_primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn_info {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn_success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn_danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.btn_primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn_info:hover {
    color: #000;
    background-color: #31d2f2;
    border-color: #25cff2;
}

table {
    caption-side: bottom;
    border-collapse: collapse;

}

.form_control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

@media (min-width: 576px) {
    .col_sm_8 {
        flex: 0 0 auto;
        width: 66.66666667%;
        max-width: 66.666667%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}


/*************************
*******AddProduct CSS******
**************************/

.form_group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

@media (prefers-reduced-motion: reduce) {
    .form_control {
        transition: none;
    }
}

.form_control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

/* button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100px;
    height: 50px;
} */
/*************************
*******ALL file Orders CSS******
**************************/
.link {
    text-decoration: underline;
    color: white;
    background-color: transparent;
}

.link:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid #333; */
}

.images {
    width: 50px;
    height: 50px;
}

.product {
    border-top: 1px solid grey;
    width: 99%;
}

.py_2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}

.d_flex {
    display: flex !important;
}

.ml3,
.mx3 {
    margin-left: 1rem !important;
}

img,
svg {
    vertical-align: middle;
}

.text_right {
    text-align: right !important;
}

.text_dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.btn_primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn_primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.center {
    display: flex;
    justify-content: center;
    height: 150%;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.ul,
.ol,
.dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.active {
    display: list-item;
    unicode-bidi: isolate;
}

@media (min-width: 768px) {
    .col_md_6 {
        flex: 0 0 auto;
        width: 50%;
    }
}